<!doctype html>
<html data-ng-app="angular-dojo-test">
	<head>
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.7.2/dijit/themes/claro/claro.css" />
		<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7.2/dojo/dojo.js"></script>
    	<script src="http://code.angularjs.org/1.0.1/angular-1.0.1.js"></script>
    	<script src="angular-dojo.js"></script>
    	<script>
    	
    	function TestController($scope) {
    		$scope.selection = 'CA';
    		$scope.search = "name";
    		$scope.date = new Date();
    		
			require([
			    "dojo/ready", "dojo/store/Memory", "dijit/form/FilteringSelect"
			], function(ready, Memory, FilteringSelect){
			    $scope.store = new Memory({
			        data: [
			            {name:"Alabama", id:"AL"},
			            {name:"Alaska", id:"AK"},
			            {name:"American Samoa", id:"AS"},
			            {name:"Arizona", id:"AZ"},
			            {name:"Arkansas", id:"AR"},
			            {name:"Armed Forces Europe", id:"AE"},
			            {name:"Armed Forces Pacific", id:"AP"},
			            {name:"Armed Forces the Americas", id:"AA"},
			            {name:"California", id:"CA"},
			            {name:"Colorado", id:"CO"},
			            {name:"Connecticut", id:"CT"},
			            {name:"Delaware", id:"DE"}
			        ]
			    });
			});
    		
    		$scope.alert = function(msg) {
    			alert(msg);
    		};
    	};
    	
    	var module = angular.module("angular-dojo-test", ['angular-dojo']);

    	</script>
	</head>
    <body class="claro" data-ng-controller="TestController">
    	<div>
	    	<div data-dojo-widget="dijit/Calendar" id="calendar" data-ng-model="date" data-ng-change="alert(date)"/>
	    </div>
	   	<select id="fSelect" data-dojo-widget="dijit/form/FilteringSelect" data-dojo-props="disabled: true; name: 'filterSelect'; searchAttr: search" data-ng-model="selection" data-ng-change="alert(selection)" data-dojo-store="store"></select>
	   	<input id="textArea" data-dojo-widget="dijit/form/Textarea" data-ng-model="text" data-ng-change="alert(text)" />
	   	<input id="dateBox" data-dojo-widget="dijit/form/DateTextBox" data-ng-model="date2" data-ng-change="alert(date2)" />
	   	<form id="myform">
		    <input type="radio" data-dojo-widget="dijit/form/RadioButton" name="drink" id="radioOne" data-ng-model="drink" data-ng-change="alert(drink)" value="tea"/> <label for="radioOne">Tea</label> <br />
		    <input type="radio" data-dojo-widget="dijit/form/RadioButton" name="drink" id="radioTwo" data-ng-model="drink" data-ng-change="alert(drink)" checked value="coffee"/> <label for="radioTwo">Coffee</label> <br />
		</form>
    </body>
</html>
